.vtr-header {
    position: relative;
    background-color: map-get($vtr-colors, midnight-blue);
    height: $vtr-spacing-base * 10; //80px
    padding: $vtr-spacing-base * 3; //24px
    width: 100%;

    &__loading-bar {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-size: 200% 200%;
        background-image: 
            repeating-linear-gradient(
                -45deg, 
                map-get($vtr-colors, belize-hole), 
                map-get($vtr-colors, belize-hole) 12px,
                lighten(map-get($vtr-colors, belize-hole), 40%) 12px,
                lighten(map-get($vtr-colors, belize-hole), 40%) 24px
            );
        animation: loading-bar-animation 10s linear infinite;
    }

    &.vtr-is-loading{
        .vtr-header__loading-bar {
            display: block;
        }
    }
}

@keyframes loading-bar-animation {
    0% {
        background-position: 100% 100%;
    }
}
