$vtr-scope : ".vtr-scope";

$vtr-spacing-base: 8px;
$vtr-base-font: 16px;

$vtr-base-radius: 4px;

$vtr-colors: ( //https://flatuicolors.com/palette/defo
    map-ocean: rgb(118, 183, 228), //google maps ocean
    midnight-blue: #2c3e50,
    peter-river: #3498db,
    belize-hole: #2980b9
);