
html,
body {
	height: 100%;
	margin: 0;
}

@import "theme/index";
@import "../../node_modules/notie/dist/notie";
@import "notie/index";

#{$vtr-scope} {
	@import "fonts/index";
	@import "../../node_modules/leaflet/dist/leaflet";

	* {
		box-sizing: border-box;
		outline: none;
	}

	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

	@import "global/index";
	@import "buttons/index";
	@import "header/index";
	@import "search/index";
	@import "main-content/index";
	@import "leaflet/index";
	@import "map/index";
	@import "results-panel/index";
}
