@import "variables";

.vtr-results-panel {
	flex-shrink: 0;
	width: $vtr-results-panel__width;
	height: 100%;
	padding: 16px;
	background-color: white;
	overflow-y: auto;
	font-weight: 700;
	text-align: center;

	&__loading-text {
		display: none;
		text-align: center;
	}

	&__list {
		display: block;
		width: 100%;
		height: $vtr-results-panel__width;
		margin: 0;
		padding: 0;
		font-weight: 300;
		list-style: none;
		text-align: left;

		> li {
			display: flex;
			width: 100%;
			height: $vtr-results-panel__item-height;
			margin-bottom: 8px;
			border-radius: 2px;
			background-color: white;
			box-shadow: 0 0 0 1px map-get($vtr-colors, clouds);
			overflow: hidden;
		}

		&__hop-number {
			flex-grow: 0;
			width: $vtr-results-panel__item-height;
			height: $vtr-results-panel__item-height;
			padding: 8px;
			background-color: map-get($vtr-colors, "peter-river");
			color: white;
			font-size: 18px;
			font-weight: 500;
			line-height: $vtr-results-panel__item-height - 16px;
			text-align: center;
		}

		&__hop-info {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			&__host {
				padding: 8px;
				padding-bottom: 0;
			}

			&__time {
				padding: 8px;
				padding-top: 0;
				padding-left: 8px;
				color: map-get($vtr-colors, asbestos);
				font-size: 12px;
				list-style: none;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;
				}
			}
		}

		&__hop-country-flag {
			flex-grow: 0;
			width: $vtr-results-panel__item-height;
			height: $vtr-results-panel__item-height;
			background-color: white;
			background-position: center;
			background-size: cover;
		}
	}

	&__search-image {
		width: 80px;
		height: 80px;
		margin-top: 80px;
	}
}

.vtr-is-loading {
	.vtr-results-panel {
		&__loading-text {
			display: block;
			font-weight: 700;
		}
	}
}
